*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(207, 228, 247);

}

.login-form{
    width: 350px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: Black;

}

.login-form h1{
 font-size: 40px;
 text-align: left;
 text-transform: uppercase;
 margin:40px 0px;

}

.login-form p{
    font-size: 19px;
    padding: 15px 0;

}

.login-form input{
    font-size: 16px;
    width :100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 25px;
}


.login-form button{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 19px 0;
    width: 80%; 
    border-radius: 25px;

}